$main-color: rgb(164, 182, 158);
$cardHeight: 250px;

.profileCard {
  $width: 90%;

  position: relative;

  width: $width;
  min-height: $cardHeight;

  background-color: $main-color;
  border-radius: $cardHeight/5;

  margin: (100% - $width)/2 0;
}

@media screen and (max-device-width: 330px) {
  .profileCard {
    width: 300px;
  }
}

@media screen and (min-device-width: 800px) {
  .profileCard {
    width: 800px * 0.9;
  }
}

#profileAvatar {
  $width: 45%;

  position: absolute;
  left: $cardHeight * 0.08;
  top: $cardHeight * 0.1;


  width: 145px;
  height: $cardHeight * 0.8;

  border-radius: $cardHeight * 0.1;

  background-color: white;
}

@media screen {

}
