$main-color: rgb(164, 182, 158);

app-toolbar{
  $height: 80px;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: $height;

  background: $main-color;
  border-top-left-radius: $height/2;
  border-top-right-radius: $height/2;
}

@media screen and (min-device-width: 600px) {
  app-toolbar {
    left: calc(50% - (600px * 0.45));
    width: 600px * 0.9;
  }
}

